<!-- Descrizione:
Rifare l'esercizio della to do list.
Questa volta però ogni todo sarà un oggetto, formato da due proprietà:
text, una stringa che indica il testo del todo
done, un booleano (true/false) che indica se il todo è stato fatto oppure no
MILESTONE 1
Stampare all'interno di una lista HTML un item per ogni todo.
Se la proprietà done è uguale a true, visualizzare il testo del todo sbarrato.
MILESTONE 2
Visualizzare a fianco ad ogni item ha una "x": cliccando su di essa, il todo viene rimosso dalla lista.
MILESTONE 3
Predisporre un campo di input testuale e un pulsante "aggiungi": cliccando sul pulsante, il testo digitato viene letto e utilizzato per creare un nuovo todo, che quindi viene aggiunto alla lista dei todo esistenti.
Bonus:
1- oltre al click sul pulsante, intercettare anche il tasto ENTER per aggiungere il todo alla lista
2- cliccando sul testo dell'item, invertire il valore della proprietà done del todo corrispondente (se done era uguale a false, impostare true e viceversa)
Buon lavoro e buon divertimento! -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="./style.css">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Document</title>
    <!-- VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
</head>
<body>
    <div class="wrapper" id="app">
        <div class="container mt-5">
            <h1>{{ title }}</h1>
            <input class="form-control" type="text" placeholder="Nuova task" v-model="newTodo.text">
            <button @click="addNewTask()" class="btn btn-primary">AGGIUNGI</button>
            <hr />


            <ul v-if="todolist.length > 0" class="mt-5 p-0">
                <!-- <li v-for="(todo,i) in todolist"
                class="item"
                  :class="(todo.done == true) ? "item-done" : """> -->

                  <!-- :class="(todo.done == true) ? "item-done" : """ -->
                    <li 
                        v-for="(todo,i) in todolist"
                        class="item"
                        
                    >
                   <span @click="todoTrue()" :class="(todo.done == true) ? 'item-done' : '' ">{{ todo.text }}</span>
                   <span @click="deleteTodo(i)">x</span>
                </li>
            </ul>
            <h3 class="mt-5" v-else>NESSUN ELEMENTO NELLA LISTA</h3>
        </div>
    </div>
    
    <!-- JS -->
    <script type="text/javascript" src="./main.js"></script>
</body>
</html>